<launch>
  <include file="$(find fsrobot)/launch/lidar/$(env ROS_LIDAR).launch" />
  <arg name="map_file" default="$(find fsrobot)/maps/house.yaml"/>
  <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

  <include file="$(find fsrobot)/launch/amcl.launch" />
  <include file="$(find fsrobot)/param/navigation/move_base.xml" />
</launch>
